* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: Arial, sans-serif;
}

header {
    background-color: #4CAF50; /* Зеленый цвет для шапки */
    color: white;
    height: 60px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
}

nav {
    margin-left: 20px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: #d4edda; 
}

main {
    flex: 1; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #f9f9f9;
}

.content {
    max-width: 600px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    font-size: 2rem;
    color: #333; 
}

p {
    font-size: 1.2rem;
    color: #555; 
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 8px; /* Скругленные углы для изображения */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #333; /* Темный цвет для подвала */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}

footer p {
    display: block;
}